.btn {
    font-weight: 500;
    font-size: 14px;
    @include media-breakpoint-up(md) {
        font-weight: 16px;
    }
    &.md-btn-34 {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        @include media-breakpoint-up(xl) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &.md-btn-gradiant {
        background: transparent linear-gradient(90deg, #ef8f21 0%, #f9a838 100%)
            0% 0% no-repeat padding-box;
        color: white;
        &:hover {
            color: white;
            background: transparent
                linear-gradient(90deg, #f9a838 0%, #ef8f21 100%) 0% 0% no-repeat
                padding-box;
        }
    }
    &.btn-outline-primary {
        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
}
