@import "fonts-montserrat";

// Variables
@import "variables";

// scss-docs-start import-stack
@import "~bootstrap/scss/bootstrap";

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";



@import "typography";
@import "form";
@import "header";
@import "footer";
@import "home";

html,
body {
    height: 100%;
}

/*- --*/
.swiper-pagination {
    position: static;
    padding-top: 20px;

    @include media-breakpoint-up(lg) {
        padding-top: 70px;
    }

    .swiper-pagination-bullet {
        background: transparent;
        border: 1px solid $primary;
        width: 17px;
        height: 17px;
        opacity: 1;
        margin: 0 7px;
    }

    .swiper-pagination-bullet-active {
        background-color: $primary;
    }
}
