html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

@import "typography";
@import "form";
@import "header";
@import "footer";

.md-fade {
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.md-text-hindi {
    font-family: $hindi-f;
}

.md-text-justify {
    text-align: justify;
}

.md-title-dash {
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin: 0 0 25px 0;
    font-size: 16px;

    @include media-breakpoint-up(sm) {
        font-size: 20px;
        margin: 0 0 35px 0;
    }

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 32px;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: $primary;
        border-radius: 5px;
        height: 5px;
        width: 92px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: #fca72c;
        box-shadow: 0px 10px 16px rgba(229, 135, 47, 0.3);
    }
}

/*- --*/
.swiper-pagination {
    position: static;
    padding-top: 20px;

    @include media-breakpoint-up(lg) {
        padding-top: 70px;
    }

    .swiper-pagination-bullet {
        background: transparent;
        border: 1px solid $primary;
        width: 17px;
        height: 17px;
        opacity: 1;
        margin: 0 7px;
    }

    .swiper-pagination-bullet-active {
        background-color: $primary;
    }
}
