<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="images/favicon.ico" />

  <title>Skilled Tech</title>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/common.css" />
</head>

<body>
  <% include /src/include/header.ejs %>

    <main id="sk-page-index">
      <section class="home-banner">
        <div class="banner-bg">
          <ul class="social-icons">
            <li>
              <a href="#" class="social soc-fb"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" class="social soc-tw"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="social soc-lin"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>

          <div class="container">

            <div class="banner-box">
              <div class="row">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h2 class="display-6 banner-title">
                      Have an Idea for Mobile Application?
                    </h2>
                    <p class="banner-info">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                      sed diam nonumy eirmod tempor invidunt ut labore et.
                    </p>
                    <h5 class="banner-text">
                      Develop Creative Apps with Professional
                    </h5>
                    <div class="btn-box">
                      <a href="#" class="btn btn-lg btn-quote">Request Quote</a>
                      <a href="#" class="btn btn-sm btn-more">Learn More</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="banner-image">
                    <img src="images/banner.png" alt="mobile" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="box-section">               
                  <div class="cmn-box">
                    <figure class="cmn-img-box">
                        <img src="images/icon1.png" alt="icon1">
                    </figure>
                    <h6 class="cmn-title">Networks</h6>
                  </div>

                  <div class="cmn-box">
                    <figure class="cmn-img-box">
                        <img src="images/icon2.png" alt="icon2">
                    </figure>
                    <h6 class="cmn-title">Web design service</h6>
                  </div>

                  <div class="cmn-box">
                    <figure class="cmn-img-box">
                        <img src="images/icon3.png" alt="icon3">
                    </figure>
                    <h6 class="cmn-title">Hosting service</h6>
                  </div>

                  <div class="cmn-box">
                    <figure class="cmn-img-box">
                        <img src="images/icon4.png" alt="icon4">
                    </figure>
                    <h6 class="cmn-title">Digital Marketing</h6>
                  </div>

                 </div>
              </div> 
             </div>

          </div>
        </div>
      </section>

      <section class="featured">
         <div class="container">
         
         <h4 class="feature-title">Our Featured Services</h4>            
         
           <div class="row mb-2">
              <div class="col-md-6">
                 <div class="service-image">
                    <img src="images/pro1.png" alt="cctv-image" class="img-fuild">
                 </div>
              </div>
              <div class="col-md-6">
                <div class="service-info">
                  <h4 class="service-title">Installation of CCTV systems in Abu-Dhabi</h4>
                  <p class="service-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</p>
                </div>
              </div>
           </div>

           <div class="row">
            <div class="col-md-6">
               <div class="service-image">
                  <img src="images/pro2.png" alt="computer-image" class="img-fuild">
               </div>
            </div>
            <div class="col-md-6">
              <div class="service-info">
                <h4 class="service-title">Web design & Development</h4>
                <p class="service-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</p>
              </div>
            </div>
           </div>

           <div class="row">
            <div class="col-md-6">
               <div class="service-image">
                  <img src="images/pro3.png" alt="mobile-image" class="img-fuild">
               </div>
            </div>
            <div class="col-md-6">
              <div class="service-info">
                <h4 class="service-title">Mobile App Development ( iOS & Android )</h4>
                <p class="service-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</p>
              </div>
            </div>
           </div>

           <div class="row">
            <div class="col-md-6">
               <div class="service-image">
                  <img src="images/pro4.png" alt="digital-image" class="img-fuild">
               </div>
            </div>
            <div class="col-md-6">
              <div class="service-info">
                <h4 class="service-title">Digital Marketing</h4>
                <p class="service-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</p>
              </div>
            </div>
           </div>

         </div>
      </section>

    </main>

    <% include /src/include/footer.ejs %>

      <script src="js/home.js"></script>
</body>

</html>